.collapsible__container {
    margin: 0px auto;
    width: 100%;
}

.aboutCollapse__Container {
    width: 75%;
    max-width: 1300px;
    margin: 25px auto 50px auto;
}

.aboutCollapse__Size {
    margin: 20px auto;
}

.toggle {
    width: 100%;
    padding: 10px 1rem;
    margin: 0 auto;
    display: flex;
    background-color: #FF6060;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.toggle-arrow {
    margin-left: auto;
}

.content {
    height: auto;
    display: none;
    font-size: 15px;
    justify-content: center;
    border-radius: 0 0 10px 10px;
    margin: 0 auto 10px auto;
    color: #FF6060;
    background-color: #f7f7f7;
}

.content p {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 90%;
}

// Animations lors du collapse
@keyframes slide-in-blurred-top {
    0% {
        transform: translateY(-50px) scaleY(0) scaleX(1);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

.show {
    display: flex;
    animation: slide-in-blurred-top 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@media only screen and(max-width: 768px) {
    .aboutCollapse__Container {
        width: 90%;
    }

    .toggle {
        font-size: 17px;
    }

    .content {
        font-size: 15px;
    }

    .aboutCollapse__Container {
        margin: 25px auto 30px auto;
    }
}