.footerContainer {
    background-color: black;
    align-items: center;
    height: 150px;
    width: 100%;
}

.logoFooter {
    display: flex;
    margin: auto;
    padding-top: 50px;
}

.pFooter {
    color: white;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .logoFooter {
        padding-top: 35px;
    }
}