.locationContainer {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;
    background-color: #F7F7F7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 25px;
    align-items: center;
    justify-content: center;
    max-width: 1450px;
}

.locationCard {
    background: rgb(199, 34, 34);
    background: linear-gradient(360deg, rgb(216, 60, 60) 0%, rgba(255, 96, 96, 1) 50%);
    width: 30%;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    text-decoration: none;
    position: relative;
}

.locationImg {
    width: 100%;
    height: 340px;
    object-fit: cover;
    border-radius: 10px;
}

.locationTitle {
    width: 75%;
    height: 20px;
    font-weight: 500;
    color: white;
    padding: 0 10px;
    position: absolute;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
    padding-bottom: 35px; 
}

@media only screen and (max-width: 1036px) {
    .locationContainer {
        background-color: white;
        width: 90%;
        margin-top: 0;
        margin-bottom: 0;
        padding: 10px;
    }

    .locationCard {
        width: 100%;
        height: auto;
        margin: 17px 0;
    }

    .locationImg {
        width: 100%;
        height: 240px;
    }
}