.logementCollapseContainer {
    width: 47%;
    margin-bottom: 20px;
    display: flex;
}

.logementGeneral__container {
    display: flex;
    max-width: 1450px;
    width: 90%;
    justify-content: space-between;
    margin: auto;
}

.itemList__container {
    padding: 0;
    margin-right: auto;
    margin-left: 2rem;
}

.itemList {
    list-style: none;
    display: flex;
}

.logementCollapseToggle {
    width: 45%;
    padding: 10px 20px;
    display: flex;
    background-color: #FF6060;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.logementToggle-arrow {
    margin-left: auto;
}

.logementContent {
    width: 100%;
    height: auto;
    display: none;
    font-size: 17px;
    border-radius: 0 0 10px 10px;
    margin: 0 auto 0 auto;
    max-width: 1300px;
    color: #FF6060;
    background-color: #f7f7f7;
    flex-direction: column;
    padding: 20px 0px;
    min-height: 130px; 
}

.logementContent p {
    margin: 0 20px 0 20px;

}

.logementsItems {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}

// Animation du collapse
@keyframes slide-in-blurred-top-log {
    0% {
        transform: translateY(-50px) scaleY(0) scaleX(1);
        transform-origin: 50% 0%;
        filter: blur(40px);
        opacity: 0;
    }

    100% {
        transform: translateY(0) scaleY(1) scaleX(1);
        transform-origin: 50% 50%;
        filter: blur(0);
        opacity: 1;
    }
}

.logementShow {
    display: flex;
    animation: slide-in-blurred-top-log 0.8s cubic-bezier(0.230, 1.000, 0.320, 1.000) both;
}

@media only screen and(max-width: 768px) {
    .logementCollapseContainer {
        flex-direction: column;
    }

    .logementDescriptionContainer {
        width: 100%;
        margin-bottom: 20px;
    }

    .logementEquipmentsContainer {
        width: 100%;
    }

    .logementCollapseContainer {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
    }

    .logementGeneral__container {
        display: flex;
        flex-direction: column;
        max-width: 1450px;
        width: 90%;
        justify-content: space-between;
        margin: auto;
    }
}