.bigFont {
    font-size: 200px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    color: #FF6060;
    margin-top: 80px;
    margin-bottom: 30px;
}

.NotExistP {
    font-size: 30px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    text-align: center;
    color: #FF6060;
    margin-bottom: 100px;
}

.returnHome {
    color: #FF6060;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

@media only screen and(max-width: 768px) {
    .bigFont {
        font-size: 120px;
        margin-bottom: 20px;
    }

    .NotExistP {
        font-size: 20px;
        font-weight: 400;
        margin-left: 30px;
        margin-right: 30px;
    }

    .returnHome {
        font-size: 15px;
        margin-bottom: 140px;
    }

}